<html>
  <head>
    <title>Vue.js Pet Depot</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
      <header>
        <h1 v-text='sitename'></h1>
        <div class="cart">
          <button type="button" class="btn btn-default btn-lg" v-on:click="showCheckout">
            <span class="glyphicon glyphicon-shopping-cart"> {{ cartItemCount }}</span>
          </button>
        </div>
      </header>
      <main>
        <div class="product" v-if='showProduct'>
          <div class="row product">
            <div class="col">
              <figure>
                <img v-bind:src='product.image'>
              </figure>
          </div>
          <div class="col col-expand">
            <h2>{{ product.title }}</h2>
            <p v-html='product.description'></p>
            <p class="price">{{ product.price | formatPrice }}</p>
            <button class="btn default" v-if="canAddToCart" v-on:click="addToCart">Add to cart</button>
            <button class="btn disabled" v-else>Add to cart</button>
          </div>
          </div>
        </div>
        <div class="cart-wrapper" v-else>
          <div class="row">
            <div class="col-md-6">
              <strong>First Name:</strong>
              <input v-model="order.firstName"
                class="form-control"/>  
            </div>
            <div class="col-md-6">
              <strong>Last Name:</strong>
              <input v-model="order.lastName"
               class="form-control"/>
            </div>
            <div class="col-md-12 verify">
              <pre>
                First Name: {{order.firstName}}
                Last Name:  {{order.lastName}}
              </pre>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script type="text/javascript">
      var APP_LOG_LIFECYCLE_EVENTS = true;

      var webstore = new Vue({
        el: '#app',
        data: {
          sitename: 'Vue.js Pet Depot',
          showProduct: true,
          product: {
            id: 1001,
            title: "Cat Food, 25lb bag",
            description: "A 25 pound bag of <em>irresistible</em>," + "organic goodness for your cat.",
            price: 2000,
            image: "assets/images/product-fullsize.png",
            availableInventory: 5
          },
          order: {
            firstName: "",
            lastName: ""
          },
          cart: []
        },
        filters: {
          formatPrice: function(price) {
            if (!parseInt(price)) { return ""; }
            if (price > 99999) {
              var priceString = (price / 100).toFixed(2);
              var priceArray = priceString.split("").reverse();
              var index = 3;
              while(priceArray.length > index + 3) {
                priceArray.splice(index + 3, 0, ",");
                index += 4;
              }
              return "$" + priceArray.reverse().join("");
            } else {
              return "$" + (price / 100).toFixed(2);
            }
          }
        },
        methods: {
          addToCart: function() {
            this.cart.push(this.product.id);
          },
          showCheckout() {
            this.showProduct = this.showProduct ? false : true;
          }
        },
        computed: {
          cartItemCount: function() {
            return this.cart.length || '';
          },
          canAddToCart: function() {
            return this.product.availableInventory > this.cartItemCount;
          }
        }
      });
    </script>
  </body>
</html>
